.board {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.black-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 40px;
  height: 40px;
}

.white-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40px;
  height: 40px;
}

.next-move {
  background-color: lightblue;
}

.red-piece {
  background-color: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.black-piece {
  background-color: black;
  border: 1px gray solid;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.circle {
  border-radius: 100%;
}

.square {
  border-radius: 0%;
}

.selected-piece {
  border: 3px yellow solid
}